@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <h2>Sung Na</h2>
    <h4>A01181039</h4>
    <h5>I want to become a full-stack developer specializing in front-end development</h5>
    <h5>I am a visual person so front-end suits me better than the back-end of full-stack development</h5>
</div>
